* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --orange: hsl(12, 88%, 59%);
  --blue: hsl(228, 39%, 23%);
}

.nabigation {
  padding: 30px;
}
.mynavItem {
  margin-left: 200px;
}
.mynavItem ul li {
  font-size: 20px;
  margin-left: 10px;
  font-weight: 600;
}
.mynavItem button,
.hero-section button,
.button button {
  border-radius: 50px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  background-color: hsl(12, 88%, 59%) ;
  border: none;
  transition: 0.5s;
}
.mynavItem button:hover,
.hero-section button:hover,
.button button:hover{
    background-color: rgb(104, 28, 0);
}
.hero-section h1 {
  font-size: 55px;
  font-weight: 600;
  padding: 20px 0px;
  width: 80%;
  line-height: 80px;
}
.hero-section p,
.mtext {
  width: 70%;
  font-size: 17px;
  font-weight: 500;
  opacity: 0.7;
}
.hero-section button {
  margin: 20px 0px;
  width: 180px;
}
.manages h1 {
  font-size: 50px;
}
.heading span {
  font-size: 18px;
  font-weight: 600;
  color: white;
  width: 50px !important;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 30px; */
  background-color: var(--orange);
}
.text {
  margin-left: 20px;
}
.text h2 {
  font-size: 30px;
  font-weight: 600;
  font-family: sans-serif;
  margin-bottom: 20px;
}
.text p {
  font-size: 17px;
  margin: 20px 0px;
  width: 75%;
}
.newslatter,
.all-menege {
  margin-top: 100px;
}
.newslatter h1 {
  font-size: 50px;
  margin: 30px 0px 60px 0px;
}
.people {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.people img {
  width: 50px;
}
.people p {
  font-size: 18px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 500;
  opacity: 0.6;
}
.works {
  padding: 50px;
  background-color: var(--orange);
}
.mybtn {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.works h1 {
  font-size: 45px;

  color: white;
}
.works button {
  font-weight: 600;
  padding: 10px 30px;
  border: none;
  border-radius: 45px;
  transition: 0.5s;
}
.works button:hover{
    background-color: rgb(134, 134, 134);
    color: white;
}
.foot {
  padding: 40px;
  background-color: rgb(0, 90, 143);
}
.foot {
  color: white;
}
.foot p {
  font-size: 18px;
  font-weight: 600;
}
.foot .social-icon {
  margin-top: 40px;
}
.social-icon {
  display: flex;
  gap: 20px;
  transition: 0.5s;
}

.social-icon > *:hover {
  border-radius: 50%;
  background-color: var(--orange);
}
.foot input {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}
.foot button {
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  font-weight: 600;
  background-color: var(--orange);
}
.footer-messege {
  margin-bottom: 40px;
}
@media screen and (max-width: 592px) {
  .hero-section img {
    width: 350px;
  }
  body h1 {
    font-size: 35px;
    font-weight: 500;
    padding: 10px 0px;
    width: 100%;
    line-height: 50px;
  }
  .about {
    margin-top: 30px !important;
  }
}
